<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vartyr.coffeecounter">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Optional.  Excluding these can negatively affect fill rate. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Optional.  If excluded, ads will not be cached. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For InMobi rich media ads -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/coffee_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:minSdkVersion="15"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/coffee_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CoffeeIncrementedActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- AdColony Activities -->
        <!-- <activity -->
        <!-- android:name="com.adcolony.sdk.AdColonyInterstitialActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:hardwareAccelerated="true" /> -->
        <!-- <activity -->
        <!-- android:name="com.adcolony.sdk.AdColonyAdViewActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:hardwareAccelerated="true" /> -->


        <!-- AppLovin Activities -->
        <!-- <activity -->
        <!-- android:name="com.applovin.adview.AppLovinInterstitialActivity" -->
        <!-- android:configChanges="orientation|screenSize" /> -->
        <!-- <activity -->
        <!-- android:name="com.applovin.adview.AppLovinConfirmationActivity" -->
        <!-- android:configChanges="orientation|screenSize" /> -->


        <!-- Chartboost Activities -->
        <!-- <activity -->
        <!-- android:name="com.chartboost.sdk.CBImpressionActivity" -->
        <!-- android:excludeFromRecents="true" -->
        <!-- android:hardwareAccelerated="true" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" /> -->


        <!-- MoPub Activities -->
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.RewardedMraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <!-- Telaria Activities -->
        <!-- <activity -->
        <!-- android:name="com.tremorvideo.sdk.android.videoad.Playvideo" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize" -->
        <!-- android:hardwareAccelerated="false" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.tremorvideo.sdk.android.videoad.Playvideo" /> -->


        <!-- Vungle Activities -->
        <!-- <activity -->
        <!-- android:name="com.vungle.publisher.VideoFullScreenAdActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" /> -->
        <!-- <activity -->
        <!-- android:name="com.vungle.publisher.MraidFullScreenAdActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" /> -->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".SipAndSwipe" />
        <activity android:name=".BackGroundBanner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".DessertMenuRecycler">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ApplicationSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".CoffeeRadio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>