<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vartyr.coffeecounter">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Optional Permissions. Excluding these can negatively affect fill rate. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Optional Permissions. If excluded, ads will not be cached. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="false"
        android:icon="@mipmap/coffee_launcher"
        android:minSdkVersion="16"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/coffee_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basictests.PreloadInterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity">
        </activity>

        <!-- AdColony Activities -->
        <!-- <activity -->
        <!-- android:name="com.adcolony.sdk.AdColonyInterstitialActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:hardwareAccelerated="true" /> -->
        <!-- <activity -->
        <!-- android:name="com.adcolony.sdk.AdColonyAdViewActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:hardwareAccelerated="true" /> -->


        <!-- AppLovin Activities -->
        <!-- <activity -->
        <!-- android:name="com.applovin.adview.AppLovinInterstitialActivity" -->
        <!-- android:configChanges="orientation|screenSize" /> -->
        <!-- <activity -->
        <!-- android:name="com.applovin.adview.AppLovinConfirmationActivity" -->
        <!-- android:configChanges="orientation|screenSize" /> -->


        <!-- MoPub Activities -->
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.RewardedMraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />


        <!-- Vungle Activities -->
        <!-- <activity -->
        <!-- android:name="com.vungle.publisher.VideoFullScreenAdActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" /> -->
        <!-- <activity -->
        <!-- android:name="com.vungle.publisher.MraidFullScreenAdActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" /> -->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".basictests.InjectedBannerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".advancedtests.DessertMenuRecycler">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".advancedtests.SampleRadioActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>